 /* The sidebar menu */
 .sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#FFFFFF;
  overflow-x: hidden;
  padding-top: 20px;
  border-right:1px solid #000000;

}
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  
  
  /* Style page content */
  .main-doc {
    margin-left: 350px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  
   
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding: 15px;}
    .sidenav a {font-size: 18px;}
  } 
  @media screen and (max-height: 768px) {
    .sidenav {padding: 20px;}
    .sidenav a {font-size: 18px;}
  } 



  .sidenav a {
      border-bottom: 1px solid black;
  }
  .sidenav h1{
    color: #000000;
    border-bottom:  1px solid #000000;
    line-height: -3px;
  }
  code{
    background: #f7f7f7;
    
  }